.cabeca{
    border: solid 1px red;
    padding: 15px;
}

.img{
    border: solid 2px rgb(0, 60, 255);
}

.navbar{
    border: solid 2px rgb(0, 252, 84);
}
.campus{
    border: solid 2px rgb(206, 252, 0);
}