
.cabeca{
    border: solid 1px red;
    padding: 15px;
    display: flex;
    background-color: rgb(33, 161, 57);
    color: white;
    
}

.img{
    border: solid 2px rgb(0, 60, 255);
}

.navbar{
    border: solid 2px rgb(0, 252, 84);
    width: 100%;
  
}
.campus{
    border: solid 2px rgb(206, 252, 0);
}
.ul{
    text-decoration: none;
    list-style-type: none;
    color: white;
   
}

